<aside>
  <div class="pt-3">
    <div>
      <h2>
        <b>Sobre mi</b>
      </h2>
      <p>Soy un programador web front-end con años de experiencia en testing</p>
    </div>
    <div class="pt-3">
      <h2>
        <b>Redes Sociales</b>
      </h2>
    </div>
    <div class="pt-3">
      <ul>
        <li>
          <p>
            <a href="#" target="_blank">Linkedin</a>
          </p>
        </li>
        <li>
          <p>
            <a href="#" target="_blank">Instagram</a>
          </p>
        </li>
        <li>
          <p>
            <a href="#" target="_blank">Facebook</a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</aside>
